// All fonts style ====================
$font-Jost: 'Jost', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Rubik: 'Rubik', sans-serif;
$font-Pacifico: 'Pacifico', cursive;
$font-Satisfy: 'Satisfy', cursive;
$font-Viga: 'Viga', sans-serif;

// All color code ====================

$color-FDFDFD: #FDFDFD;
$color-1F1E1E: #1F1E1E;
$color-24A04A: #24A04A;
$color-05551d: #05551d;
$color-5F5F5F: #5F5F5F;
$color-E7F4EB: #E7F4EB;
$color-F3F3F3: #F3F3F3;
$color-FFDE00: #FFDE00;
$color-ff3f1d: #ff3f1d;
$color-9B9B9B: #9B9B9B;
$color-E7F4EB: #E7F4EB;
$color-153DA5: #153DA5;
$color-487BFE: #487BFE;
$color-790505: #790505;
$color-FF01D6: #FF01D6;


$color-2-fd: rgba(253, 253, 253, 0.8);


// @media (min-width: 320px) and (max-width: 575.9px) {}

// @media (min-width: 576px) and (max-width: 767.9px) {}

// @media (min-width: 768px) and (max-width: 991.9px) {}

// @media (min-width: 992px) and (max-width: 1199.9px) {}

// @media (min-width: 1200px) and (max-width: 1399.9px) {}

// @media (min-width: 1400px) {}