@import "../../variable/variable";
@import "../../mixin/mixin";

#banner {
    padding-top: 140px;

    .row {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .banner-text {
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: url(../images/shape-sub.png) no-repeat center;
            position: absolute;
            background-size: contain;
            top: 0;
            left: -82%;
            z-index: -3;
            opacity: 0.2;
            animation: banner_shape 20s infinite linear;
        }

        @keyframes banner_shape {
            0% {
                transform: rotate(0deg);
                top: -40%;
            }

            50% {
                transform: rotate(180deg);
                top: 20%;
            }

            100% {
                transform: rotate(360deg);
                top: -40%;
            }
        }

        h2 {

            font-family: $font-Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: $color-1F1E1E;

            span {
                font-family: $font-Jost;
                font-style: normal;
                font-weight: 700;
                font-size: 80px;
                line-height: 95px;
                color: #1F1E1E;
                display: block;
                text-transform: capitalize;
            }
        }

        h1 {
            font-family: $font-Jost;
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 95px;
            color: $color-1F1E1E;

            .text-wrapper {
                position: relative;
                display: inline-block;
                padding-top: 0.1em;
                padding-right: 0.05em;
                padding-bottom: 0.15em;
            }

            .line {
                opacity: 0;
                position: absolute;
                left: 0;
                height: 100%;
                width: 3px;
                transform-origin: 0 50%;
            }

            .line1 {
                top: 0;
                left: 0;
                background: $color-24A04A;
            }

            .letter {
                display: inline-block;
                line-height: 1em;
            }

            span {
                color: $color-24A04A;
            }
        }

        p {
            font-family: $font-Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #1F1E1E;
            padding-top: 35px;
            padding-bottom: 60px;
            opacity: 0.7;
        }

        .link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                width: 2px;
                height: 100%;
                background: $color-24A04A;
                position: absolute;
                top: 0;
                left: 28%;
                transform: translateX(-50%);
            }

            a {
                font-size: 20px;
                color: $color-1F1E1E;
                padding: 5px 15px;
                background: $color-E7F4EB;
                border-radius: 5px;
                border: none;
                margin-left: 10px;
                transition: all linear 0.3s;

                &:hover {
                    color: $color-FDFDFD;
                    background: $color-24A04A;
                }

                &:nth-child(1) {
                    font-family: $font-Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    padding: 10px 30px;
                    border-radius: 50px;
                    margin-right: 20px;
                    margin-left: 0px;
                    transition: all linear 0.3s;

                    &:hover {
                        color: $color-FDFDFD;
                        background: $color-24A04A;
                    }
                }
            }
        }
    }

    .banner-img {
        text-align: right;
        padding-top: 60px;
        position: relative;
        z-index: 3;


        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: url(../images/shape-main.png) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 10%;
            z-index: -2;
            transform: rotate(7deg);
            z-index: -3;
            opacity: 0.1;
            animation: banner_img 50s linear infinite;
        }

        @keyframes banner_img {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(360deg);
            }

        }

        .shape {
            img {
                &:nth-child(1) {
                    position: absolute;
                    left: 33%;
                    top: 4%;
                    transform: translateX(-50%);
                    animation: shape_sms 3s linear infinite;
                }

                @keyframes shape_sms {
                    0% {
                        top: 2%;
                    }

                    50% {
                        top: -2%;
                    }

                    100% {
                        top: 2%;
                    }
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 6%;
                    left: 54%;
                    transform: translateX(-50%) rotate(0deg);
                    z-index: -1;
                    animation: shape_gear 10s linear infinite;
                }

                @keyframes shape_gear {
                    0% {
                        transform: rotate(0deg);
                        left: 45%;
                    }

                    50% {
                        transform: rotate(180deg);
                        left: 54%;
                    }

                    100% {
                        transform: rotate(360deg);
                        left: 45%;
                    }
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 50%;
                    transform: translateX(-50%) scale(0.4);
                    animation: shape_gear-2 10s linear infinite;
                }

                @keyframes shape_gear-2 {
                    0% {
                        transform: rotate(0deg) scale(0.4);
                        top: 40%;
                        left: 87%;
                    }

                    50% {
                        transform: rotate(180deg) scale(0.4);
                        top: 50%;
                        left: 87%;
                    }

                    100% {
                        transform: rotate(360deg) scale(0.4);
                        top: 40%;
                        left: 87%;
                    }
                }

                &:nth-child(4) {
                    position: absolute;
                    top: 63%;
                    transform: translateX(-50%);
                    animation: shape_gear-3 5s linear infinite;
                }

                @keyframes shape_gear-3 {
                    0% {
                        left: 35%;
                    }

                    50% {
                        left: 44%;
                    }

                    100% {
                        left: 35%;
                    }
                }

                &:nth-child(5) {
                    position: absolute;
                    left: 78%;
                    transform: translateX(-50%);
                    animation: shape_gear-4 5s linear infinite;
                }

                @keyframes shape_gear-4 {
                    0% {
                        top: 27%;
                    }

                    50% {
                        top: 32%;
                    }

                    100% {
                        top: 27%;
                    }
                }

                &:nth-child(6) {
                    position: absolute;
                    top: 26%;
                    left: 29%;
                    transform: translateX(-50%);
                    animation: shape_gear-5 5s linear infinite;
                }

                @keyframes shape_gear-5 {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                &:nth-child(7) {
                    position: absolute;
                    top: 33%;
                    left: 34%;
                    transform: translateX(-50%) scale(.7);
                    animation: shape_gear-6 5s linear infinite;
                }

                @keyframes shape_gear-6 {
                    0% {
                        transform: rotate(0deg) scale(.7);
                    }

                    100% {
                        transform: rotate(360deg) scale(.7);
                    }
                }
            }
        }
    }
    .link-sm{
        display: none;
    }
}