@import "../../variable/variable";
@import "../../mixin/mixin";

#preloader {
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-05551d;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
    cursor: none;

    .preloader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 5;

        h2 {
            font-size: 42px;
            font-family: $font-Jost;
            font-weight: 700;
            color: $color-FDFDFD;
            text-transform: uppercase;
            position: relative;
            display: block;
            overflow: hidden;

            &::after {
                content: "";
                height: 3px;
                background: $color-FDFDFD;
                position: absolute;
                bottom: 0;
                animation: nameline 5s ease-in-out infinite;
            }

            @keyframes nameline {
                0% {
                    width: 0%;
                    left: 0%;
                }

                25% {
                    width: 25%;
                    left: 40%;
                }

                50% {
                    width: 50%;
                    left: 60%;
                }

                75% {
                    width: 25%;
                    left: 25%;
                }

                100% {
                    width: 0%;
                    left: 100%;
                }
            }
        }

        h3 {
            font-family: $font-Rubik;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 8px;
            padding-left: 10px;
            color: $color-24A04A;
        }
    }

    .shape-1 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        background: $color-FDFDFD;
        animation: shape-1 ease-in-out 5s infinite;
        z-index: -1;
    }

    @keyframes shape-1 {
        0% {
            transform: scale(0);
            top: -10%;
            left: 30%;
        }

        20% {
            transform: scale(1);
            top: 60%;
            left: 30%;
        }

        40% {
            transform: scale(1);
            top: 10%;
            left: 30%;
        }

        60% {
            transform: scale(.5);
            top: 50%;
            left: 30%;
        }

        80% {
            transform: scale(0);
            top: -10%;
            left: 30%;
        }

        100% {
            transform: scale(0);
            top: -10%;
            top: 10%;
        }
    }

    .shape-2 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 50px;
        right: 50px;
        background: $color-FDFDFD;
        animation: shape-2 ease-in-out 5s infinite;
        z-index: -1;
    }

    @keyframes shape-2 {
        0% {
            transform: scale(0);
        }

        25% {
            transform: scale(5);
        }

        50% {
            transform: scale(10);
        }

        75% {
            transform: scale(5);
        }

        100% {
            transform: scale(0);
        }
    }

    .shape-3 {
        width: 50px;
        height: 50px;
        bottom: 50px;
        left: 50px;
        border-radius: 50%;
        position: absolute;
        background: $color-FDFDFD;
        animation: shape-3 ease-in-out 5s infinite;
        z-index: -1;
    }

    @keyframes shape-3 {
        0% {
            transform: scale(0);
        }

        25% {
            transform: scale(5);
        }

        50% {
            transform: scale(10);
        }

        75% {
            transform: scale(5);
        }

        100% {
            transform: scale(0);
        }
    }


    .shape-4 {
        z-index: -1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        background: $color-FDFDFD;
        animation: shape-4 ease-in-out 5s infinite;
    }

    @keyframes shape-4 {
        0% {
            transform: scale(0);
            bottom: -10%;
            right: 30%;
        }

        20% {
            transform: scale(1);
            bottom: 60%;
            right: 30%;
        }

        40% {
            transform: scale(1);
            bottom: 10%;
            right: 30%;
        }

        60% {
            transform: scale(.5);
            bottom: 50%;
            right: 30%;
        }

        80% {
            transform: scale(0);
            bottom: -10%;
            right: 30%;
        }

        100% {
            transform: scale(0);
            bottom: -10%;
            right: 10%;
        }
    }

}