*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    background: #FDFDFD;
    color: #1F1E1E;
    overflow-x: hidden !important;
}